@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    outline: 1px solid red;
}
:root{
    --dark-green: #34908B;
    --green: #6FBEB2;
    --light-green: #A5E9DD;
    --yellow: #FDF4AF;

    --grey: #7a7a7a;
    --light-colour: #ebebeb;

}
body{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-rows: 250px 1fr;
    height: 100vh;
    background-color: var(--green);
}
header{
    
}
main{
    height: 100%;

}
#gameboard{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 7px;
    padding: 70px;
    place-content: center;
    width: 657px;
    place-self: center;
    background-color: var(--light-green);
    box-shadow: inset 5px -5px 20px gray;
}
#gameboard button{
    display: grid;
    place-items: center;
}
.not-filled{
    font-size: 0rem;
}
.size-up{
    font-size: 2rem;
    transition: all 0.3s ease; 
}

.starting-dialog{
    margin-top: 200px;
}


.scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    height: 100%;
    min-width: 500px;
    max-width: 1000px;
    place-self: center;
}
.p1-bg, .p2-bg{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    justify-self: flex-end;
    align-self: center;
    background-color: #3e2958;
}
.p1-stats, .p2-stats{
    display: grid;
    font-size: 1.8em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    padding-top: 20px;

}
.p1-name, .p2-name{
    align-self: center;
}
.p1-bg i, .p2-bg i{
    font-size: 3rem;
    color: var(--yellow)
    
}
.p1-score, .p2-score{
    justify-self: center;
    align-self: flex-start;
    font-size: 3rem;
}
.p1-symbol, .p2-symbol{
    align-self: flex-start;
    justify-self: flex-end;
    font-size: 3rem;

}
.turn-display{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.3rem;
}
.restart-button{
    position: absolute;
    top: 20px;
    right: 20px;
}


/* EMOJI PICKER */
.player-emoji-picker label{
    
    display: inline-block;
    cursor: pointer;
    background-color: grey;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: black;


}
.player-emoji-picker label i{
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    transition: 0.1s ease-in;
}
.player-emoji-picker .rating-radio{
    display: none;
}
.player-emoji-picker input[type='radio'] + label
{
    --_background: var(--background, grey);
    --_icon: var(--icon, white);
}
/* when sibling checked  */
.player-emoji-picker input[type='radio']:checked + label{
    color: var(--_icon);
    background-color: var(--_background);
}
/* when hovered */
.player-emoji-picker label:hover i
{
    color: lightgray;
}

/* When clicked */
.player-emoji-picker label:active i{
    color: white; 
}

#p1-e1 + label, #p2-e1 + label{
     --icon: #E5E238;
    --background: #383BE5;
}
#p1-e2 + label, #p2-e2 + label{
     --icon: #1F26FF;
    --background: #FFF81F;
}
#p1-e3 + label, #p2-e3 + label{
     --icon: #5994C5;
    --background: #C58A59;
}
#p1-e4 + label, #p2-e4 + label{
     --icon: #1DAF88;
    --background: #AF1D43;
}
#p1-e5 + label, #p2-e5 + label{
     --icon: #9c868a;
    --background: #445552;
}